.botonesCarrito{
    display: "flex",
    
}

.textoCarrito{
    background-color: blueviolet;
    width: 25%;
    text-align: center;
}

.tituloCarrito{
    text-align: center;
    text-shadow: 0 0 5px blueviolet;
    margin-bottom: 2%;
}
.subtitulosCarrito{
text-align: center;
justify-content: center;
}